In [1]:
print("HELLO,Python Full Stack Student!")

HELLO,Python Full Stack Student!

In [2]:
print("Hello,I am Kirti sharma.")

Hello,I am Kirti sharma.

In [3]:
print("Introduction To python.")

Introduction To python.

In [4]:
print("I am commerce student,Excited to learn python.")

I am commerce student,Excited to learn python.

In [9]:
print("name : kirti")
print("age : 18")
print("gpa : 8.6")
print("is student : true")

name : kirti
age : 18
gpa : 8.6
is student : true

In [10]:
print("name : sumit")
print("age : 22")
print("gpa : 9.5")
print("is student : true")

name : sumit
age : 22
gpa : 9.5
is student : true

In [20]:
x = 10
y = 7.14
z = "Python"
flag = False
print(type(x),type(y),type(z),type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [21]:
print(" Kirti , avinash college, accounting")

 Kirti , avinash college, accounting

In [24]:
birth_year=2006
current_year=2025
print(current_year-birth_year)

19

In [26]:
movie_name="puspa"
realse_year=2024
rating=9
print(movie_name,realse_year,rating)

puspa 2024 9

In [27]:
print("Addition:",15 + 4)
print("Division:",15/4)
print("Floor Division:",15//4)
print("Power:",15**4)

Addition: 19
Division: 3.75
Floor Division: 3
Power: 50625

In [30]:
a=10
b=20
print(10 > 20) # False
print(a == 10) # True
print((10 < 20) and (b == 20)) # True

False
True
True

In [9]:
fruits=["apple","banana","mango"]
fruits.append("orange")
fruits.remove("apple")
fruits.sort() #sort list
print(fruits) 
print(fruits[1])

['banana', 'mango', 'orange']
mango

In [10]:
name=["varshita","vanshika","priya","est"]
name.append("varshit")
name.remove("varshita")
name.sort() #sort list
print(name) 
print(name[2])

['est', 'priya', 'vanshika', 'varshit']
vanshika

In [8]:
name=["sharma","rajesh","sky"]
name.append("william")
print(name) 
print(name[3])

['sharma', 'rajesh', 'sky', 'william']
william

In [21]:
colors=("red","blue","black")
print(colors[0])
colors[1]=="yellow"

red

False

In [23]:
number={1,2,3,4,5}
number.add(6)
print(number)

{1, 2, 3, 4, 5, 6}

In [42]:
student={
    "name":"kirti",
    "age":18,
    "course":"BBA"
}
student["college"] = "ABC UNIVERSITY"
print(student.keys())
print(student.values())
print(student["name"])
(student["age"]) =18
print(student)

dict_keys(['name', 'age', 'course', 'college'])
dict_values(['kirti', 18, 'BBA', 'ABC UNIVERSITY'])
kirti
{'name': 'kirti', 'age': 18, 'course': 'BBA', 'college': 'ABC UNIVERSITY'}

In [48]:
marks=75
if marks >=90:
   print("Grade:A")
elif marks >=75:
   print("Grade:B")
elif marks >=50:
    print("Grade:C")
else:
    print("Grade:Fail")

Grade:B

In [53]:
for i in range(1,11):
    print("number:", i)

number: 1
number: 2
number: 3
number: 4
number: 5
number: 6
number: 7
number: 8
number: 9
number: 10

In [60]:
count=1
while count<=5:
    print("count:",count)
    count +=1

count: 1
count: 2
count: 3
count: 4
count: 5

In [72]:
for i in range(1,15):
    if i == 11:
       break 
    print (i)

1
2
3
4
5
6
7
8
9
10