In [1]:
print("HELLO,Python Full Stack Student!")

HELLO,Python Full Stack Student!

In [2]:
print("Hello,I am Kirti sharma.")

Hello,I am Kirti sharma.

In [3]:
print("Introduction To python.")

Introduction To python.

In [4]:
print("I am commerce student,Excited to learn python.")

I am commerce student,Excited to learn python.

In [9]:
print("name : kirti")
print("age : 18")
print("gpa : 8.6")
print("is student : true")

name : kirti
age : 18
gpa : 8.6
is student : true

In [10]:
print("name : sumit")
print("age : 22")
print("gpa : 9.5")
print("is student : true")

name : sumit
age : 22
gpa : 9.5
is student : true

In [20]:
x = 10
y = 7.14
z = "Python"
flag = False
print(type(x),type(y),type(z),type(flag))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [21]:
print(" Kirti , avinash college, accounting")

 Kirti , avinash college, accounting

In [24]:
birth_year=2006
current_year=2025
print(current_year-birth_year)

19

In [26]:
movie_name="puspa"
realse_year=2024
rating=9
print(movie_name,realse_year,rating)

puspa 2024 9

In [27]:
print("Addition:",15 + 4)
print("Division:",15/4)
print("Floor Division:",15//4)
print("Power:",15**4)

Addition: 19
Division: 3.75
Floor Division: 3
Power: 50625

In [30]:
a=10
b=20
print(10 > 20) # False
print(a == 10) # True
print((10 < 20) and (b == 20)) # True

False
True
True